<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% extends "bootstrap/base.html" %}
{% block title %}NBA{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #449BE8;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}">NBA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('players') }}">Players</a>
            </div>
            <div class="navbar-nav ml-auto">
                {% if session['username'] %}
                <a class="nav-item nav-link" href="{{ url_for('profile') }}"><i class="fas fa-user"></i> Profile</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                {%else%}
                <a class="nav-item nav-link" href="{{ url_for('signup') }}"><i class="fas fa-user"></i> Sign Up</a>
                <a class="nav-item nav-link" href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i> Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
{% endblock %}
