{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h2 style="color:#257DCA">NBA players</h2>
                <p style="color:#257DCA"> Get to know more about your favorite player!</p>
                <a href="{{ url_for('players') }}" class="btn btn-primary" style="background-color: #B32F32;">See Players</a>
            </div>
            <div class="col-8">
                <img src="{{ url_for('static', filename='HeroNBA.jpg')}}" alt="Hero" class="img-fluid" style="max-height:400px; width:100%" />
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}